.app-header {
    width: 100%;
    display: flex;

    span:nth-child(2) {
        text-align: center;
    }
    
    >span {
        width: calc(100% / 3);
    }

    span:last-child {
        text-align: end;
    }
}