.app-header {
  width: 100%;
  display: flex; }
  .app-header span:nth-child(2) {
    text-align: center; }
  .app-header > span {
    width: calc(100% / 3); }
  .app-header span:last-child {
    text-align: end; }
