.product-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center; }
  .product-list .product-list-single {
    text-decoration: none;
    color: #000000;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem 0.5rem 0 0; }
    .product-list .product-list-single h4, .product-list .product-list-single p {
      margin: 0;
      text-align: center;
      width: 100%; }
    .product-list .product-list-single > div {
      position: absolute;
      margin-top: 4rem;
      width: 10rem;
      height: 2rem;
      background: rgba(255, 255, 255, 0.3); }
    .product-list .product-list-single img {
      position: absolute;
      width: 10rem;
      height: 10rem; }
