.product-list{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  
  .product-list-single {
    text-decoration: none;
    color: #000000;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem 0.5rem 0 0;

    h4, p {
      margin: 0;
      text-align: center;
      width: 100%;
    }

    >div {
      position: absolute;
      margin-top: 4rem;
      width: 10rem;
      height: 2rem;
      background: rgba($color: #FFFFFF, $alpha: 0.3);
    }
    
    img {
      position: absolute;
      width: 10rem;
      height: 10rem;
    }
  }
}