.single-product-page{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 1rem;

    img {
        width: 10rem;
        height: 10rem;
        margin-right: 1rem;
    }

    .single-product-data * {
        margin: 0.5rem 0.5rem 0 0;
    }

    .single-product-data {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}